@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  margin-top: 0;
  /* font-family: "Jane Light W00 Regular"; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, "Jane Light W00 Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.height-lg {
  height: 50px;
}